@tailwind base;
@tailwind components;
@tailwind utilities;


.hover\:scale-105:hover {
    transform: scale(1.05);
}
.hover\:-translate-x-10:hover {
    transform: translateX(-2.5rem);
}
.hover\:translate-x-10:hover {
    transform: translateX(2.5rem);
}

.scroll {
    position: relative;
    width: 45vw;
    background-color: var(--boxify-bg-light-dark); /* Assuming this is a CSS variable */
    overflow: hidden;
    z-index: 1;
    padding: 10px; /* Added px unit */
  }
  
  .m-scroll {
    overflow: hidden;
    white-space: nowrap;
    animation: scrollText 110s infinite linear;
    font-size: 0; /* Ensure child elements have proper font-size if needed */
    display: flex;
    width: 400%;
  }
  
  .m-scroll span {
    display: inline-block;
    margin: 0 50px; /* Adjusted margin to be horizontal only */
    color: white;
  }
  
  @keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  

  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }

  .chat-bubble {
    position: relative;
    max-width: 320px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #f0f0f0;
    padding: 12px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .chat-content {
    overflow: hidden;
    max-height: 60px; /* Adjust as needed */
    transition: max-height 0.3s ease-out;
  }
  .read-more {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    display: block;
    text-align: right;
  }


#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 140px;
  height: 220px;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: white;
  color: #fff;
  padding: 5px; /* Adjust padding to add space around the image */
  padding-bottom: 25px; /* Adjust padding to add space around the image */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: add shadow for Polaroid effect */
  position: relative;
}



.swiper-slide::before {
  content: "hi hello";
  display: block;
  padding-bottom: 20%; /* Adjust bottom padding to make the bottom border bigger */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: -1;
}

.swiper-slide:nth-child(1n) {
  background-color: white;
}

.swiper-slide:nth-child(2n) {
  background-color: white;
}

.swiper-slide:nth-child(3n) {
  background-color: white;
}

.swiper-slide:nth-child(4n) {
  background-color: white;
}

.swiper-slide:nth-child(5n) {
  background-color: white;
}

.swiper-slide:nth-child(6n) {
  background-color: white;
}

.swiper-slide:nth-child(7n) {
  background-color: white;
}

.swiper-slide:nth-child(8n) {
  background-color: white;
}

.swiper-slide:nth-child(9n) {
  background-color: white;
}

.swiper-slide:nth-child(10n) {
  background-color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media (max-width: 768px) {
  main {
    padding-bottom: 5rem;
  }
}
